<!DOCTYPE html>
<%- include('../components/head') %>

<body class="container">
  <%- include('../components/header', { pagina: "Sobre" })%>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Oi sou Deibson Cogo um programador que acompanha a Rocketseat</p>
      <p><%= subtitle %></p>
    </div>
  </main>

  <%- include('../components/footer') %>
</body>
</html>
